* {
  box-sizing: border-box;
}

body {
  padding: 1em;
}

.calc-card {
  display: flex;
  flex-direction: row;
  width: 500px;
  height: 300px;
  gap: 5em;
}


.calc-card__percentage-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.calc-card__tip-amt-container {
  display: flex;
  flex-direction: row;
  gap: 5em;
}


.calc-card__total-num-container {
  display: flex;
  flex-direction: row;
  gap: 5em;
}

.calc-card__btn--reset {
  background-color: aqua;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  border-radius: 1em;
}